<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPixService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://demo-iemk20.zdrav.netrika.ru/PixService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPixService"
                contract="NetrikaApi.IPixService" name="BasicHttpBinding_IPixService" />
        </client>
    </system.serviceModel>
</configuration>